<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mes Activités</title>
</head>
<body>
    <h1>Modifier l'activités <span th:text="${activite.nom}"></span> (<span th:text="${activite.id}"></span>)</h1>
    <form th:action="@{/activite/modifier/{idActivite}(idActivite=${activite.id})}" method="post">
        <table border="1">
            <thead>
                <tr>
                    <th>Activité</th>
                    <th>Date</th>
                    <th>Durée (min)</th>
                    <th>Distance (km)</th>
                    <th>Note (/10)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${activite.nom}" rowspan="2"></td>
                    <td th:text="${activite.date}"></td>
                    <td th:text="${activite.duree}"></td>
                    <td th:text="${activite.distance}"></td>
                    <td th:text="${activite.note}"></td>
                </tr>
                <tr>
                   
                    <td><input type="date" id="date" name="date" th:value="${activite.date}"></td>
                    <td><input type="number" id="duree" name="duree" th:value="${activite.duree}" ></td>
                    <td><input type="number" step="0.1" id="distance" name="distance" th:value="${activite.distance}" th:readonly="${activite.nom == 'Musculation'}"></td>
                    <td><input type="number" id="note" name="note" min="0" max="10" th:value="${activite.note}"></td>
                    
                </tr>
                <tr th:if="${#lists.isEmpty(activites)}">
                    <td colspan="5">Aucune activité enregistrée.</td>
                </tr>
            </tbody>
        </table>
        <br>
        <input type="submit" value="Valider">
    </form>
    <p th:text="${msg}"></p>

    <br>
    <a th:href="@{/user/profile/{id}(id=${session.loggedInUser.id})}">
        <button type="button">Retour au profil</button>
    </a>
</body>
</html>