<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inscription</title>
    <link rel="stylesheet" th:href="@{/css/sport.css}">
</head>
<body>
<h2>Créer un compte (Inscription)</h2>

<div th:if="${error}">
    <p style="color: red; font-weight: bold;" th:text="${error}"></p>
</div>

<form th:action="@{/user/register}" method="post">

    <div style="margin-bottom: 10px;">
        <label for="nom">Nom :</label><br/>
        <input type="text" id="nom" name="nom" required />
    </div>

    <div style="margin-bottom: 10px;">
        <label for="prenom">Prénom :</label><br/>
        <input type="text" id="prenom" name="prenom" required />
    </div>

    <div style="margin-bottom: 10px;">
        <label for="email">Email :</label><br/>
        <input type="email" id="email" name="mail" required />
    </div>

    <div style="margin-bottom: 15px;">
        <label for="mdp">Mot de passe :</label><br/>
        <input type="password" id="mdp" name="mdp" required />
    </div>

    <div style="margin-bottom: 15px;">
        <label for="sexe">Sex :</label><br/>
        <input type="text" id="sexe" name="sexe" required />
    </div>

    <div style="margin-bottom: 15px;">
        <label for="age">Age :</label><br/>
        <input type="number" id="age" name="age" required />
    </div>

    <div style="margin-bottom: 15px;">
        <label for="taille">Taille :</label><br/>
        <input type="number" id="taille" name="taille" required />
    </div>

    <div style="margin-bottom: 15px;">
        <label for="poids">Poids :</label><br/>
        <input type="number" id="poids" name="poids" required />
    </div>

    <div>
        <button type="submit">S'inscrire</button>
    </div>

</form>

<p>
    <a th:href="@{/user/login}">Déjà un compte ? Se connecter ici.</a>
</p>
</body>
</html>