<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Set niveau pratique d'un sport</title>
</head>
<body>
<h2>Ajouter un niveau pratique a un sport</h2>
<form th:action="@{/user/nivPratique}"  method="post">
    <label for="sport">Sport:</label>
    <select name="sport" id="sport">
        <option value="" disabled selected>-- Choisir un sport --</option>
        <option th:each="s : ${sports}"
                th:value="${s.id}"
                th:text="${s.nom}">
        </option>
    </select>
    <br><br>
    <label for="niveau">Niveau Pratique:</label>
    <select id="niveau" name="niveau">
        <option value="" disabled selected>-- Choisir un niveau --</option>
        <option th:each="n : ${niveaux}"
                th:value="${n}"
                th:text="${n}">
        </option>
    </select>
    <br><br>
    <input type="submit" value="valider">

</form>
</body>
</html>