<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire</title>
</head>
<body>
<h2>Profile</h2>

<div th:if="${error}">
    <p style="color: red; font-weight: bold;" th:text="${error}"></p>
</div>

<form th:action="@{/user/profile/update/{IdU}(IdU=${userUpdate.id})}" method="post">

    <input type="hidden" name="IdU" th:value="${userUpdate.id}" />

    <div style="margin-bottom: 15px;">
        <label for="email">Email :</label><br/>
        <input type="email" id="email" name="mailU" th:value="${userUpdate.mail}" required />
    </div>

    <div style="margin-bottom: 15px;">
        <label for="sexe">Sexe :</label><br/>
        <input type="text" id="sexe" name="sexeU" th:value="${userUpdate.sexe}" required />
    </div>

    <div style="margin-bottom: 15px;">
        <label for="age">Age :</label><br/>
        <input type="number" id="age" name="ageU" th:value="${userUpdate.age}" required />
    </div>

    <div style="margin-bottom: 15px;">
        <label for="taille">Taille :</label><br/>
        <input type="text" id="taille" name="tailleU" th:value="${userUpdate.taille}" required />
    </div>

    <div style="margin-bottom: 15px;">
        <label for="poids">Poids :</label><br/>
        <input type="text" id="poids" name="poidsU" th:value="${userUpdate.poids}" required />
    </div>

    <div style="margin-bottom: 15px;">
        <label for="pratique">Niveau de Pratique :</label><br/>
        <input type="text" id="pratique" name="niveauPratique" th:value="${userUpdate.niveauPratique}" required />
    </div>


    <div>
        <button type="submit">💾 Enregistrer </button>
        &nbsp;
        <a th:href="@{/user/profile/{IdU}(IdU=${userUpdate.id})}">
            <button type="button">Annuler</button>
        </a>
    </div>

</form>
</body>
</html>