<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Liste des utilisateurs</title>
    <link rel="stylesheet" th:href="@{/css/sport.css}">
</head>
<body>
<table>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Mail</th>
        <th>Sexe</th>
        <th>Age</th>
        <th>Niveau de pratique</th>
    </tr>
    <tr th:each="u : ${utiliste}">
        <td th:text="${u.nom}"></td>
        <td th:text="${u.prenom}"></td>
        <td th:text="${u.mail}"></td>
        <td th:text="${u.sexe}"></td>
        <td th:text="${u.age}"></td>
        <td th:text="${u.niveauPratique}"></td>
    </tr>
</table>

</body>
</html>